name: Release Dev Container Features

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Publish features
        uses: devcontainers/action@v1
        with:
          publish-features: true
          base-path-to-features: ./src
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
